body {
  min-width: 1200px;
  /* min-height: 2416px; */
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
}

h1, ul, img, p {
  margin: 0;
  padding: 0;
}

/*Для сетки временно*/
/*body {
  background-image: url("../img/gllacy-index-1200.jpg");
  background-repeat: no-repeat;
}*/

.container {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}

.main-header {
  margin-bottom: 275px;
  min-height: 115px;
}

.header-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-bottom {
  text-align: right;
  margin-top: -5px;
}

.header-logo {
  margin-right: 8px;
}

.header-logo img {
  padding-top: 9px;
  height: 64px;
  width: 154px;
}

.site-navigation {
  list-style: none;
  width: 378px;
  margin-right: 345px;
  display: flex;
  justify-content: space-between;
}

.site-navigation>li {
  display: inline-block;
  position: relative;
  padding: 9px 14px;
  border-radius: 20px;
}

.site-navigation>li:hover {
  background: #f7f6f3;
}

.site-navigation>li>a {
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation>li:hover>a {
  color: #323232;
}

.site-navigation a:focus {
  background-color: #ededed;
  color: #323232;
}

.site-navigation .sub-menu {
  display: none;
  position: absolute;
  list-style: none;
  width: 143px;
  border-radius: 5px;
  left: -7px;
  top: 40px;
  overflow: hidden;
}

.sub-menu a {
  font-size: 14px;
  line-height: 16px;
  padding: 8px 5px 8px 22px;
  color: #323232;
  text-decoration: none;
  display: block;
  background: #f8f7f4;
  padding-left: 21px;
  font-weight: 400;
}

.sub-menu .new {
  font-weight: 700;
  position: relative;
}

.sub-menu .new::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 6px;
  right: 9px;
  background-color: #d1d0ce;
  opacity: 0.4;
  bottom: 0;
}

.sub-menu a:hover {
  background-color: #fbded7;
}

.sub-menu a:focus {
  background-color: #f6b5a5;
}

.site-navigation>li:hover .sub-menu{
  display: block;
}

.active-page {
  background-color: #d07058;
  color: #ffffff;
}

.user-block {
  list-style: none;
  width: 262px;
  display: flex;
  justify-content: space-between;
}

.user-block li {
  display: inline-block;
}

.user-block a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  display: block;
}

.user-block a:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.user-block .user-btn {
  height: 32px;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 10px;
}

.user-block .search {
  width: 32px;
  border-radius: 50%;
  position: relative;
}

.user-block .search::before {
  content: "";
  position: absolute;
  background: url("../img/search.png") no-repeat;
  width: 17px;
  height: 17px;
  left: 8px;
  top: 8px;
}

.search-field {
  display: none;
}

.user-block .login-link {
  width: 92px;
  border-radius: 20px;
  box-sizing: border-box;
  padding-left: 44px;
  position: relative;
}

.user-block .login-link::before {
  content: "";
  position: absolute;
  background: url("../img/login.png") no-repeat;
  width: 21px;
  height: 19px;
  left: 16px;
  top: 6px;
}

form.login {
  display: none;
}

.user-block .cart {
  width: 117px;
  border-radius: 20px;
  padding-left: 45px;
  position: relative;
}

.user-block .cart::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  background: url("../img/cart.png") no-repeat;
  left: 16px;
  top: 6px;
}

.user-block .cart-full {
  background-color: #ffffff;
  color: #000000;
}

.user-block form {
  background-color: #f8f7f4;
}

.login a {
  color: #323232;
}

.cart-full-popup a {
  color: #ffffff;
  background-color: #f16442;
}

.open-hours {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}

.phone {
  font-size: 22px;
  line-height: 24px;
}

.promo-title {
  font-size: 60px;
  line-height: 60.35px;
}

.discount-title {
  font-size: 35px;
  line-height: 41px;
}

.discount-item p {
  font-size: 18px;
  line-height: 22px;
}

.top-product-price {
  font-size: 45px;
  line-height: 45px;
}

.weight {
  font-size: 30px;
}

.catalog-item p {
  font-weight: 500;
}

.features {
  background-color: #e7d8b8;
}

.features-description {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.features-item {
  font-weight: 400;
  color: #323232;
}

.blog-and-spam .left-column {
  background-color: #ffffff;
}

.blog-and-spam .right-column {
  background-color: #f8f7f4;
}

.blog-title {
  font-weight: 500;
  color: #323232;
}

.blog-and-spam a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.spam-description {
  font-weight: 400;
  color: #5a5a5a;
}

input[type="submit"] {
  font-size: 18px;
  line-height: 24px;
  background-color: #f16542;
  color: #ffffff;
}

.contacts-adress, .contacts-phone, .contacts-time {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.contacts-adress-main {
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;
}

.info a, .documents a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
}

a.for-provider {
  font-weight: 700;
}

.copyright p {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
}

.copyright a {
  color: #ffffff;
}

.popup-text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
}

.filter {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-weight: 500;
}

.filter:hover {
  color: #323232;
  font-weight: 500;
}

.sort-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.ice-choice label {
  line-height: 18px;
  font-weight: 500;
}

.ice-choice input[type="submit"] {
  background-color: rgba(255, 255, 255, 0.2);
}

.ice-choice input[type="submit"]:hover {
  background-color: #fbfcfb;
  color: #323232;
}

.ice-choice input[type="submit"]:focus {
  background-color: #eaeaea;
  color: #323232;
}

.paginator a {
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.paginator a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: #323232;
}

.paginator .paginator-page-active {
  background-color: #ffffff;
  color: #323232;
}

.visually-hidden {
  /* visibility: hidden; */
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

/*Стили для слайдера*/
.slider {
  position: relative;
  text-align: center;
  Color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls {
  position: absolute;
  bottom: 62px;
  left: 0;
  z-index: 0;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-1.png");
  background-repeat: no-repeat;
  background-position: center 83px;
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-2.png");
  background-repeat: no-repeat;
  background-position: center 83px;
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-3.png");
  background-repeat: no-repeat;
  background-position: center 83px;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/ice-2.png");
}

.site-wrapper::after {
  background-image: url("img/ice-3.png");
}

.discount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.discount-item {
  width: 560px;
  height: 229px;
  box-sizing: border-box;
  border-radius: 14px;
  padding-left: 19px;
  padding-top: 17px;
  position: relative;
}

.raspberry {
  background-image: url("../img/raspberry.jpg");
}

.chocolate {
  background-image: url("../img/chocolate.png");
}

.discount-title {
  display: block;
  margin-bottom: 17px;
}

.discount-item p {
  width: 515px;
  margin-bottom: 37px;
}

.catalog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-item {
  width: 267px;
  position: relative;
  text-align: center;
  min-height: 322px;

}

.catalog-item-content {
  width: 267px;
  padding-left: 5px;
}

.catalog-item-content img {
  margin-bottom: 10px;
}

.catalog-item-content > a {
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto"
}

.top-product-price {
  position: absolute;
  top: 217px;
  left: 5px;
}

.catalog-item-hover {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 277px;
  margin-right: 26px;
  padding-top: 5px;
}

.catalog-item-hover:last-child {
  margin-right: 0;
}

.catalog-item-hover:hover {
  background-color: rgba(255, 255, 255, 0.2);
  /* width: 293px; */
}

.features {
  padding-top: 25px;
  padding-left: 21px;
  border-radius: 15px;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.features-description {
  margin-bottom: 22px;
}

.features-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.features-item {
  width: 482px;
  padding-left: 56px;
  margin-right: 20px;
  margin-bottom: 25px;
  position: relative;
}

.left-column {
  float: left;
}

.right-column {
  float: right;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.features-item::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background: red;
  top: -12px;
  left: 0px;
  background: url("../img/sprite-features.png") no-repeat;
}

.ice::before {
  background-position: -49px 0px;
}

.leaf::before {
  background-position: 0px -49px;
}

.temperature::before{
  background-position: -49px -49px;
}

.blog-and-spam {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog, .spam {
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
  box-sizing: border-box;
}

.blog {
  background-image: url("../img/blog.jpg");
  background-repeat: no-repeat;
  padding-left: 20px;
}

.blog-title {
  padding-top: 27px;
  font-weight: 500px;
  margin-bottom: 5px;
}

.blog-10 {
  width: 285px;
}

.blog a {
  text-decoration: none;
  border-bottom: 2px solid #000000;
}

.spam {
  background: black;
  position: relative;
  background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 7px, #92cdff 7px, #92cdff 14px, #ffffff 14px, #ffffff 21px, #fe9e90 21px, #fe9e90 28px);
}

.spam-wrapper {
  background-color: #f8f7f4;
  padding-top: 38px;
  padding-left: 27px;
  padding-bottom: 18px;
  width: 550px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

.spam-description {
  width: 510px;
  margin-bottom: 40px;
}

.spam-form input[type="text"] {
  width: 350px;
  border-radius: 4px;
  border: 1px solid #d3d3d2;
  padding-left: 14px;
  min-height: 42px;
  margin-right: 10px;
}



.map {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  min-height: 430px;
  margin: 0 auto;
  width: 1200px;
  position: relative;
  margin-bottom: 35px;
}

.map .contacts {
  position: absolute;
  box-sizing: border-box;
  right: 27px;
  bottom: 62px;
  background: #fffffe;
  width: 302px;
  border-radius: 15px;
  padding-top: 30px;
  padding-left: 25px;
  color: #000000;
}

.contacts-adress {
  width: 150px;
}

.contacts b {
  display: block;
  width: 220px;
}

.adress-main {
  margin-bottom: 22px;
}

.contacts-time {
  margin-bottom: 25px;
}

.main-footer {
  padding: 25px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.social {
  margin-right: 215px;
}

.social-btn {
  font-size: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: top;
  background-image: url("../img/sprite-social.png");
  border: 3px solid rgb(194, 206, 199);
}

.tw {
  background-position: 0 -32px;
}

.inst {
   background-position: -32px 0;
}

.vk {
  background-position: -32px -32px;
}

.info {
  margin-right: 30px;
  position: relative;
}

.info ul, .documents ul {
  list-style: none;
}

.info a, .documents a {
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}

.copyright {
  margin-left: 230px;
}

.for-provider::before {
  content:"";
  position: absolute;
  width: 15px;
  height: 13px;
  background-image: url("../img/like.png");
  left: -22px;
  top: 6px;
}

.copyright a {
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}

/* КНОПКИ  */
.btn {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 12px;
  background: -webkit-linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background: -moz-linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background: -o-linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background-image: linear-gradient(90deg, rgb(245, 134, 105) 0%, rgb(236, 111, 94) 100%);
  background-image: -moz-linear-gradient(90deg, rgb(245, 134, 105) 0%, rgb(236, 111, 94) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(245, 134, 105) 0%, rgb(236, 111, 94) 100%);
  background-image: -o-linear-gradient(90deg, rgb(245, 134, 105) 0%, rgb(236, 111, 94) 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background-image: linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -moz-linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -o-linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn {
 display: inline-block;
 padding: 10px 42px 12px;
 font-size: 32px;
 line-height: 43px;
 vertical-align: top;
 text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
 border-radius: 50px;
 margin-bottom: 40px;
}

.discount-btn {
  width: 165px;
  position: absolute;
  right: 20px;
  bottom: 23px;
}

.chocolate .btn {
  width: 189px;
}

.catalog-item .btn {
  position: relative;
  left: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: none;
  width: 202px;
}

.catalog-item:hover .btn {
  display: block;
}

.spam .btn {
  width: 130px;
}

.feedback-btn {
  width: 250px;
  margin-bottom: 30px;
}
