body {
  min-width: 1200px;
  /* min-height: 2416px; */
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}

h1, ul, img, p, span {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*Для сетки временно*/
/*body {
  background-image: url("../img/gllacy-index-1200.jpg");
  background-repeat: no-repeat;
}*/

.container {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}

.site-wrapper .main-header {
  margin-bottom: 275px;
  min-height: 115px;
}

.header-top {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  -ms-flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
}

.header-bottom {
  text-align: right;
  margin-top: -5px;
}

.header-logo {
  margin-right: 8px;
}

.header-logo img {
  padding-top: 9px;
  height: 64px;
  width: 154px;
}

.site-navigation {
  list-style: none;
  width: 378px;
  margin-right: 345px;
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.site-navigation>li {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  padding: 9px 14px;
  border-radius: 20px;
}

.site-navigation>li:hover {
  background: #f7f6f3;
}

.site-navigation>li>a {
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.site-navigation>li:hover>a {
  color: #323232;
}

.site-navigation li:active {
  background-color: #ededed;
  color: #323232;
  box-shadow: inset 0 1px 1px 1px #696969;
}

.site-navigation .sub-menu {
  display: none;
  position: absolute;
  list-style: none;
  width: 143px;
  border-radius: 5px;
  left: -7px;
  top: 40px;
  overflow: hidden;
}

.sub-menu a {
  font-size: 14px;
  line-height: 16px;
  padding: 8px 5px 8px 22px;
  color: #323232;
  text-decoration: none;
  display: block;
  background: #f8f7f4;
  padding-left: 21px;
  font-weight: 400;
}

.sub-menu .new {
  font-weight: 700;
  position: relative;
}

.sub-menu .active-page {
  background: #d07058;
  color: #ffffff;
}

.sub-menu .new::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 6px;
  right: 9px;
  background-color: #d1d0ce;
  opacity: 0.4;
  bottom: 0;
}

.sub-menu a:hover {
  background-color: #fbded7;
}

.sub-menu a:focus {
  background-color: #f6b5a5;
}

.site-navigation>li:hover .sub-menu {
  display: block;
}

.user-block {
  list-style: none;
  width: 262px;
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack:justify;
}

.user-block li {
  display: inline-block;
  margin-top: 2px;
}

.user-block>li>a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  display: block;
}

.user-block>li>a:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.form-link a {

}

.user-block .user-btn {
  height: 32px;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 10px;
}

.user-block .search {
  width: 32px;
  border-radius: 50%;
  position: relative;
}

.user-block .search::before {
  content: "";
  position: absolute;
  background: url("../img/search.png") no-repeat;
  width: 17px;
  height: 17px;
  left: 7px;
  top: 7px;
}

.user-block .search:hover::before {
  background: url("../img/search-hov.png");
}

.user-block-search {
  position: relative;
}

.search-field {
  display: none;
  position: absolute;
  top: 36px;
  right: 0px;
  padding: 20px 15px;
  border-radius: 5px;
  z-index: 100;
}

.search-field input {
  width: 309px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  box-sizing: border-box;
  padding: 10px 14px;
}

.user-block-search:hover .search-field {
  display: block;
}

.user-block .login-link {
  width: 92px;
  border-radius: 20px;
  box-sizing: border-box;
  padding-left: 44px;
  position: relative;
}

.user-block .login-link::before {
  content: "";
  position: absolute;
  background: url("../img/login.png") no-repeat;
  width: 21px;
  height: 19px;
  left: 16px;
  top: 6px;
}

.user-block .login-link:hover::before {
  background: url("../img/login-hover.png") no-repeat;
}

.user-block-login {
  position: relative;
}

form.login {
  display: none;
}

.user-block-login:hover form.login {
  display: block;
}

.login {
  position: absolute;
  padding: 20px 0px;
  padding-left: 19px;
  padding-right: 17px;
  right: 0;
  top: 36px;
  border-radius: 10px;
  z-index: 10;
}

.login input {
  width: 240px;
  box-sizing: border-box;
  padding: 10px 0;
  padding-left: 14px;
  border-radius: 10px;
  border: 1px solid #d3d3d2;
  margin-bottom: 20px;
}


.user-block-login .login-btn {
  width: 102px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 0px;
  border-radius: 20px;
  border: none;
  float: left;
  margin-right: 15px;
  margin-bottom: 0px;
}



.form-link a {
    border-bottom: 1px solid #adacaa;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
}

.user-block .cart {
  width: 117px;
  border-radius: 20px;
  padding-left: 41px;
  position: relative;
}

.user-block .cart::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  background: url("../img/cart.png") no-repeat;
  left: 13px;
  top: 8px;
}

.user-block .cart:hover::after {
  background: url("../img/cart-full.png") no-repeat;
}

.user-block .cart-full {
  background-color: #ffffff;
  color: #000000;
}

.user-block .cart-full::after {
  background: url("../img/cart-full.png") no-repeat;
}

.user-block .cart-full {
  background-color: #ffffff;
  color: #000000;
}

.user-block form {
  background-color: #f8f7f4;
}

.login a {
  color: #323232;
}

.cart-full-popup a {
  color: #ffffff;
  background-color: #f16442;
}

.open-hours {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}

.phone {
  font-size: 22px;
  line-height: 24px;
}

.promo-title {
  font-size: 60px;
  line-height: 60.35px;
}

.discount-title {
  font-size: 35px;
  line-height: 41px;
}

.discount-item p {
  font-size: 18px;
  line-height: 22px;
}

.top-product-price {
  font-size: 45px;
  line-height: 45px;
}

.weight {
  font-size: 30px;
}

.catalog-item p {
  font-weight: 500;
}

.features {
  background-color: #e7d8b8;
}

.features-description {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.features-item {
  font-weight: 400;
  color: #323232;
}

.blog-and-spam .left-column {
  background-color: #ffffff;
}

.blog-and-spam .right-column {
  background-color: #f8f7f4;
}

.blog-title {
  font-weight: 500;
  color: #323232;
}

.blog-and-spam a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.spam-description {
  font-weight: 400;
  color: #5a5a5a;
}

input[type="submit"] {
  font-size: 18px;
  line-height: 24px;
  background-color: #f16542;
  color: #ffffff;
}

.contacts-adress, .contacts-phone, .contacts-time {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.contacts-adress-main {
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;
}

.info a, .documents a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
}

a.for-provider {
  font-weight: 700;
}

.copyright p {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
}

.copyright a {
  color: #ffffff;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
}

.filter {
  background-color: #aabcb2;
  color: #ffffff;
  font-weight: 500;
}

.filter:hover {
  font-weight: 500;
}

.sort-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding-left: 15px;
  margin-bottom: 8px;
  display: block;
}

.ice-choice label {
  line-height: 18px;
  font-weight: 500;
}

.ice-choice input[type="submit"] {
  background-color: rgba(255, 255, 255, 0.2);
}

.ice-choice input[type="submit"]:hover {
  background-color: #fbfcfb;
  color: #323232;
}

.ice-choice input[type="submit"]:active {
  background-color: #eaeaea;
  color: #323232;
  box-shadow: inset 0px 1px 1px 1px #6a6b6a;
  border: none;
}



.visually-hidden {
  /* visibility: hidden; */
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

/*Стили для слайдера*/
.slider {
  position: relative;
  text-align: center;
  Color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls {
  position: absolute;
  bottom: 62px;
  left: 0;
  z-index: 0;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: #b2c1b7;
}

.slider-controls label:active {
  background: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-1.png");
  background-repeat: no-repeat;
  background-position: center 83px;
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-2.png");
  background-repeat: no-repeat;
  background-position: center 83px;
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-3.png");
  background-repeat: no-repeat;
  background-position: center 83px;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/ice-2.png");
}

.site-wrapper::after {
  background-image: url("img/ice-3.png");
}

.discount {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
  margin-bottom: 40px;
}

.discount-item {
  width: 560px;
  min-height: 229px;
  box-sizing: border-box;
  border-radius: 14px;
  padding-left: 19px;
  padding-top: 17px;
  position: relative;
}

.raspberry {
  background-image: url("../img/raspberry.jpg");
  background-repeat: repeat-y;
}

.chocolate {
  background-image: url("../img/chocolate.jpg");
}

.discount-title {
  display: block;
  margin-bottom: 12px;
}

.discount-item p {
  width: 515px;
  margin-bottom: 45px;
}

.catalog {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack:justify;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  /* margin-bottom: 40px; */
}

.catalog-item {
  width: 267px;
  position: relative;
  text-align: center;
  min-height: 322px;
  margin-bottom: 40px;
}

.catalog-item-content {
  width: 267px;
  padding-left: 5px;

}

.catalog-item-content img {
  margin-bottom: 7px;
  border-radius: 50%;
}

.catalog-hit .catalog-item::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  z-index: 101;
  left: 0;
  background-image: url("../img/hit.png");
  background-repeat: no-repeat;
}

.catalog-item-content > a {
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto"
}

.top-product-price {
  position: absolute;
  top: 214px;
  left: 3px;
}

.top-product-price::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 31px;
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  top: 8px;
  left: 81px;
}

.weight {
  margin-left: 33px;
}

.catalog-item-hover {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 277px;
  margin-right: 26px;
  padding-top: 5px;

}

.catalog-item-hover:last-child {
  margin-right: 0;
}

.catalog-item-hover:hover {
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 100;
}

.features {
  padding-top: 25px;
  padding-left: 19px;
  border-radius: 15px;
  background-image: url("../img/background.png");
  background-repeat: repeat;
  margin-bottom: 40px;
}

.features-description {
  margin-bottom: 22px;
}

.features-items {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  list-style: none;
}

.features-item {
  width: 482px;
  padding-left: 56px;
  margin-right: 22px;
  margin-bottom: 22px;
  position: relative;
}

.left-column {
  float: left;
}

.right-column {
  float: right;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.features-item::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background: red;
  top: -15px;
  left: -2px;
  background: url("../img/sprite-features.png") no-repeat;
}

.ice::before {
  background-position: -49px 0px;
}

.leaf::before {
  background-position: 0px -49px;
}

.temperature::before{
  background-position: -49px -49px;
}

.blog-and-spam {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
  margin-bottom: 40px;
}

.blog, .spam {
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
  box-sizing: border-box;
}

.blog {
  background-image: url("../img/blog.jpg");
  background-repeat: no-repeat;
  padding-left: 18px;
  background-color: #ffffff;
}

.blog-title {
  padding-top: 25px;
  font-weight: 500px;
  margin-bottom: 3px;
}

.blog-10 {
  width: 285px;
  padding-bottom: 20px;
}

.blog a {
  text-decoration: none;
  border-bottom: 2px solid #000000;
}

.spam {
  position: relative;
  background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 7px, #92cdff 7px, #92cdff 14px, #ffffff 14px, #ffffff 21px, #fe9e90 21px, #fe9e90 28px);
}

.spam-wrapper {
  background-color: #f8f7f4;
  padding-top: 30px;
  padding-left: 22px;
  padding-bottom: 35px;
  width: 550px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.spam-description {
  width: 510px;
  margin-bottom: 35px;
}

.spam-form input[type="text"] {
  width: 364px;
  border-radius: 4px;
  border: 1px solid #d3d3d2;
  padding-left: 12px;
  min-height: 42px;
  margin-right: 10px;
}



.map {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  min-height: 430px;
  margin: 0 auto;
  width: 1200px;
  position: relative;
  margin-bottom: 12px;
}

.map .contacts {
  position: absolute;
  box-sizing: border-box;
  right: 27px;
  top: 62px;
  background: #fffffe;
  width: 302px;
  border-radius: 15px;
  padding-top: 30px;
  padding-left: 25px;
  color: #000000;
}

.contacts-adress {
  width: 150px;
  margin-bottom: 2px;
}

.contacts b {
  display: block;
  width: 220px;
}

.contacts-phone {
  margin-bottom: 3px;
}

.phone-number {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 3px;
}

.adress-main {
  margin-bottom: 21px;
}

.contacts-time {
  margin-bottom: 25px;
}

.main-footer {
  padding-bottom: 25px;
}

.main-footer .container {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -ms-align-items: flex-end;

}

.social {
  margin-right: 125px;
  width: 293px;
}

.social-btn {
  font-size: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: top;
  background-image: url("../img/sprite-social.png");
  border: 3px solid rgb(194, 206, 199);
  opacity: 0.8;
  margin-top: 15px;
}

.social-btn:hover {
  border-color: #dae2de;
  opacity: 1;
}

.social-btn:focus {
  opacity: 0.8;
}

.tw {
  background-position: 0 -32px;
}

.inst {
   background-position: -32px 0;
}

.vk {
  background-position: -32px -32px;
}

.info {
  margin-right: 30px;
  position: relative;
  width: 111px;
}

.documents {
  margin-right: 232px;
  width: 163px;
}

.info ul, .documents ul {
  list-style: none;
  margin-top: 5px;
}

.info a, .documents a {
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}

.copyright {
  /* margin-left: 232px; */
}

.for-provider::before {
  content:"";
  position: absolute;
  width: 15px;
  height: 13px;
  background-image: url("../img/like.png");
  left: -22px;
  top: 10px;
}

.copyright a {
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}

/* КНОПКИ  */
.btn {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  border: none;
  /* box-sizing: border-box; */
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 12px;
  background: -webkit-linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background: -moz-linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background: -o-linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background-image: linear-gradient(90deg, rgb(245, 134, 105) 0%, rgb(236, 111, 94) 100%);
  background-image: -moz-linear-gradient(90deg, rgb(245, 134, 105) 0%, rgb(236, 111, 94) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(245, 134, 105) 0%, rgb(236, 111, 94) 100%);
  background-image: -o-linear-gradient(90deg, rgb(245, 134, 105) 0%, rgb(236, 111, 94) 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background-image: linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -moz-linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -o-linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn {
 display: inline-block;
 padding: 10px 42px 12px;
 font-size: 32px;
 line-height: 43px;
 vertical-align: top;
 text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
 border-radius: 50px;
 margin-bottom: 40px;
}

.discount-btn {
  float: right;
  margin-right: 21px;
  margin-bottom: 22px;
}

.raspberry .btn {
  padding-left: 22px;
  padding-right: 24px;
}

.chocolate .btn {
  padding-left: 21px;
  padding-right: 22px;
}

.catalog-item .btn {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
  display: none;
  /* width: 202px; */
  padding-left: 17px;
  padding-right: 17px;
}

.catalog-item:hover .btn {
  display: inline-block;
  color: #ffffff;
}

.spam .btn {
  /* width: 130px; */
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.feedback-btn {
  /* width: 250px; */
  margin-bottom: 30px;
  padding-left: 28px;
  padding-right: 28px;
}

.active-page {
  background-color: #d07058;
  color: #ffffff;
}


/* Страница каталога */

.breadcrumbs {
  list-style: none;
  margin-top: -25px;
  margin-bottom: 2px;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a, .breadcrumbs span {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  margin-right: 3px;
}

.breadcrumbs a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.catalog-title {
  margin-bottom: 25px;
}

.ice-choice {
  display: flex;
  display: -ms-flexbox;
  justify-content: flex-start;
  -ms-flex-pack: start;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-bottom: 40px;
}

/* .ice-choice div {
  outline: 1px solid yellow;
} */

.ice-choice .filter {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  min-height: 32px;
}

.paginator {
  margin: 0;
  margin-top: 43px;
  text-align: right;
  margin-right: -8px;
  margin-bottom: 49px;
}

.paginator a {
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  width: 17px;
  height: 22px;
  display: inline-block;
  padding: 5px 5px 0;
  vertical-align: top;
  text-align: center;
}

.paginator a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.paginator a:focus {
  background-color: rgb(255, 255, 255);
  color: #323232;
  border-radius: 50%;
}

.paginator .paginator-page-active {
  background-color: #ffffff;
  color: #323232;
  border-radius: 50%;
}

.paginator-page:last-child {
  margin-right: 0;
}

.paginator .next {
  font-size: 0;
}

.ice-choice .sort{
  width: 195px;
  margin-right: 10px;
  margin-bottom: 18px;
}

.sort .filter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  width: 195px;
  padding-left: 10px;
}

.ice-choice .price {
  width: 220px;
  margin-right: 15px;
}

.ice-choice .fatcontent {
  width: 415px;
}

.ice-choice .filling {
  width: 700px;
}

.scale {
  position: relative;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 176px;
  top: 16px;
  left: 21px;
}

.scale-bar {
  width: 84px;
  background-color: #ffffff;
  left: 30px;
  position: relative;
  height: 2px;
}

.range-controls {
  min-height: 32px;
  position: relative;
}

.toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
}

.toggle:hover {
  width: 22px;
  height: 22px;
  top: 6px;
}

.min-toggle {
  left: 35px;
  top: 7px;
}

.max-toggle {
  right: 65px;
  top: 7px;
}

.fatcontent label {
  position: relative;
}

.fatcontent input[type="radio"] {
  display: none;
}

.fatcontent label {
  margin-left: 45px;
  padding: 10px 0 7px;
  display: inline-block;
  vertical-align: top;
}

.fatcontent label::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  left: -27px;
  top: 9px;
  border: 4px solid #aabcb2;
  background: #aabcb2;
  box-shadow: 0 0 0 3px #ffffff;
  opacity: 0.8;
}

.fatcontent label:hover::before {
  opacity: 1;
}

.fatcontent label:disabled::before {
  opacity: 0.6;
}

input[type="radio"]:checked+label::before {
  background: #ffffff;;
}

.filling {
  margin-right: 15px;
}

input[type="checkbox"] {
  display: none;
}

.filling label {
  padding-left: 46px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 3px;
}

.filling label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 15px;
  border-radius: 1px;
  background: url("../img/checkbox-off.png");
  opacity: 0.8;
}

input[type="checkbox"]:checked+label::before {
  width: 23px;
  background: url("../img/checkbox-on.png");
}

.filling label:hover::before {
  opacity: 1;
}

.filling label:disabled::before {
  opacity: 0.6;
}

.ice-choice input[type="submit"] {
  padding-left: 29px;
  padding-right: 29px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 16px;
  line-height: 18px;
}

.popup-feedback {
  display: none;
  width: 430px;
  background-color: #f8f7f4;
  border-radius: 10px;
  padding: 20px 24px;
  position: fixed;
  left: 35%;
  top: 25%;
}

.feedback-form {
  position: relative;
}

.popup-text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 23px;
}

.popup-feedback input {
  width: 265px;
  padding: 11px 14px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #d3d3d2;
  margin-bottom: 20px;
}

.popup-feedback textarea {
  padding: 11px 14px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #d3d3d2;
  width: 426px;
  color: #999999;
  margin-bottom: 40px;
}

.feedback-form input[type="submit"] {
  border: none;
  width: 140px;
  border-radius: 20px;
  position: absolute;
  bottom: -25px;
  right: -10px;
}

.popup-close {
  position: absolute;

  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  top: 10px;
  right: 25px;
}

.popup-close::before, .popup-close::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: #000000;
}
.popup-close::before {
  transform: rotate(45deg);
}

.popup-close::after {
  transform: rotate(-45deg);
}

.user-btn-cart {
  position: relative;
}

.user-btn-cart table {
  border-collapse: collapse;
  margin-bottom: 16px;
}

.user-btn-cart .cart-table {
  display: none;
  position: absolute;
  top: 36px;
  right: 0;
  width: 510px;
  z-index: 10;
  background-color: #f8f7f4;
  border-radius: 5px;
  color: #000000;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  padding: 20px 14px 19px 16px;

}

.user-btn-cart:hover .cart-table {
  display: block;
}

/* .cart-table-tr {
  position: relative;
} */

.btn-delete {
  font-size: 0;
  background: transparent;
  border: none;
  width: 11px;
  height: 11px;
  cursor: pointer;
  position: relative;
}

.btn-delete::before, .btn-delete::after {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 1px;
  height: 15px;
  left: 5px;
  top: -8px;
}

.btn-delete::before {
  transform: rotate(45deg);
}

.btn-delete::after {
  transform: rotate(-45deg);
}

.cart-table img {
  border-radius: 50%;
  padding-right: 14px;
  padding-left: 14px;
}

.name-of-ice {
  width: 220px;
  padding-right: 27px;

}

.price-for-kg {
  padding-right: 15px;
}

.total-price {
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  border-top: 1px solid #cacac7;
  padding-top: 16px;

}

.price-for-item {
  padding-right: 15px;
}

.cart-table-tr td {
  padding-bottom: 20px;
}

.cart-btn {
  width: 172px;
  float: right;
}

.catalog-item a:hover, .blog-10 a:hover, .info a:hover, .documents a:hover, .copyright a:hover,
.catalog-item a:active, .blog-10 a:active, .info a:active, .documents a:active, .copyright a:active {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

.user-block-item {
  padding-bottom: 6px;
}

select.filter option {
  color: #000000;
}

select.filter:hover {
  color: #000000;
}

input[type="text"]:hover, textarea:hover {
  border-color: #c7c6c5;
  /* border-width: 2px;
  padding-top: 9px;
  padding-bottom: 9px;
  box-sizing: border-box;
  padding-left: 13px; */
}

input[type="text"]:focus, textarea:focus {
  border-color: #8fbdec;
  outline: none;
}

input[type="text"] {
  font-weight: 700;
  box-sizing: border-box;
}

input[type="text"]::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.popup-feedback-show {
  display: block;
  animation-name: animation-feedback;
  animation-duration: 0.6s;
}

@keyframes animation-feedback {
  0% {transform: translateX(-2000px);}
  70% {transform: translateX(50px);}
  90% {transform: translateX(-10px);}
  100% {transform: translateX(0px);}
}

.popup-feedback-error {
  animation-name: error;
  animation-duration: 0.6s;
}

@keyframes error {
  0%, 100% {transform: translateX(0px);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.page-previous::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-right: 1px solid #9bafa4;
  border-top: 1px solid #9bafa4;
  top: 10px;
  right: 8px;
  transform: rotate(-135deg);
}

.page-previous:hover::before {
  border-color: #000000;
}

.page-previous {
  position: relative;
}

.paginator .next {
  position: relative;
}

.paginator .next::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-top: 1px solid #9bafa4;
  border-right: 1px solid #9bafa4;
  top: 10px;
  right: 10px;
  transform: rotate(45deg);
}

.next:hover::before {
  border-color: #000000;
}
